[submodule "extern/ttvfs"]
	path = extern/ttvfs
	url = https://github.com/fgenesis/ttvfs.git
[submodule "extern/stb"]
	path = extern/stb
	url = https://github.com/nothings/stb.git
[submodule "extern/libsmf"]
	path = extern/libsmf
	url = https://github.com/stump/libsmf.git
[submodule "extern/glm"]
	path = extern/glm
	url = git@github.com:g-truc/glm.git
